$color-text:#838383;
$color-white:#fff;
$color-blue:#33c5f6;
$color-blue-light:#ccdce9;
$color-blue-middle:#009dde;
$color-black:#000;
$color-dark-blue:#193986;
$color-green:#598000;
$color-green-light:#a9c233;
$color-green-light-hover:#c5e23c;
/* LOGIN */
$color-logIn-Bar: #404040;
$color-logIn-darkGray:#2d2d2d;
$color-logIn-lightGray:#555555;
$color-logIn-destacado:#6f6f6f;
$color-logIn-aHover:#ccc;
/* HEADER */
$color-border-header:#e9ebea;
$color-header-bg:#f6f6f6;
/* VALIDATIONS */
$color-red:#f94949;
$color-red-light:#ffdfdf;
$color-red-dark: #e75b5b;
$color-green-light2:#edf9b6;